<div class="container">
	<div class="span12">
		<div class="row show-grid">
			<!-- BEGIN ARTICLE CONTENT AREA -->                             
			<div class="main-column">
				<h1>Orthopaedics <small></small></h1>
				<h2>Style them with bizstrap's Awesome Feature Elements for More Power and Impact!</h2>
				<div class="text-divider1"></div>
				<p>You can even style your sticky notes using many of bizstrap's feature elements (typography, boxes, buttons, etc.).</p>
				<div class="row show-grid stick-wrapper">
					<div class="span3 attention-stick stick">
						<div style="font-size: 38px;">
							<i class="icon-bullhorn icon-large"></i>
						</div>
						<br />
						<h2>More Awesome Sticky Notes...</h2>
						<p>Here we've slapped a sticky note with an icon and a button.</p>
						<p><button class="ex btn  btn-inverse" type="button">Click Me</button></p>
					</div>
					<div class="span3 note-stick stick">
						<h2>Progress Bars!</h2>
						<h4>How We Spend Our Day</h4>
						<br />
						<div class="progress progress-info">
							<div class="bar" style="width: 90%">HTML5</div>
						</div>
						<div class="progress progress-success">
							<div class="bar" style="width: 40%">CSS3</div>
						</div>
						<div class="progress progress-warning">
							<div class="bar" style="width: 80%">Photoshop</div>
						</div>
					</div>
					<div class="span3 success-stick stick">
						<h2>Sticky Lists with Icons!</h2>
						<span class="label label-warning">And Highlighted Text Labels</span>
						<div style="font-size: 16px; text-align: left;">
							<br />
							<ul class="icons">                                           	  
								<li><i class="icon-pushpin"></i> Green Sticky Notes</li>
								<li><i class="icon-bookmark"></i> Yellow Sticky Notes</li>
								<li><i class="icon-flag"></i> Blue Sticky Notes</li>
								<li><i class="icon-plane"></i> Red Sticky Notes</li>
								<li><i class="icon-beaker"></i> White Sticky Notes</li>
							</ul>
						</div>
					</div>                                
				</div>                                
				<h2>Float Them Left or Float Them Right...</h2>
				<div class="text-divider1"></div>                                
				<div class="span3 alert-stick stick left-stick">
					<h1>Float Me Left</h1>
					<h2>Yep, we have a special class to float that sticky note left.</h2>
				</div>
				<p>Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
				<p>Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
				<div class="span3 success-stick stick right-stick">
					<h1>Float Me Right</h1>
					<h2>Yep, we have a special class to float that sticky note right.</h2>
				</div>
				<p>Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
				<p>Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
			</div>
		</div>

	</div>
</div>

