<h1>About Us</h1>
<p>We strive for quality care, provide best standard services and innovative methods
of management for complex clinical situations in trauma, orthopaedics and cosmetology. We are located at Peshawar, the ancient and well known tourist city of Pakistan. Our Head Office is at Dabgaree Gardens, Peshawar linked with satellite clinics within and around Peshawar. 

<p>Peshawar Region:</b>
                              Today, Peshawar has become a blend of traditional and modern lifestyle but the warmth of its people has never chilled out The Provincial capital embraces hundreds of visitors every day all across Afghanistan and Tribal areas and offers solace to them in their hours of need. Peshawar is the centre of health related services for the entire province. With very limited resources, the city not only caters to the medical and health care needs of millions of its own population and federally administered tribal areas but also takes care of people of Afghanistan and some parts of Punjab.


Email: traumaconsutant@yahoo.com</p>
