<div class="container main-block">
	<br/>
	<h1>Welcome to Bone Health Center</h1>
	<p>BHC is unique to this area in that it combines the strengths and resources of prominent medical professionals, the skills of technical personnel, and patient care services for the whole region.

    <br/>BHC is the only facility providing state of the art services both to public and private sector with in the region of North West Frontier Province (NWFP) of Pakistan, at large. We are the pioneers in providing DXA scan facility, bone markers and specialized metabolic bone disease laboratory investigations, experienced dieticians, counseling of patients and reporting on fracture risk assessment for the country by certified clinical densitometrist. Here,  patient care, education, training and research  come together resulting in exceptional health care in most conducive environment of Bone Health Center, Peshawar.

	<br/>For Further details on BHC please <a href="/home/bonehealthdetail"><u>Click Here</u></a>
	</p>
</div>