<div class="container main-block">
	
	<br/>
	<h1>Bone Health Center</h1>
	<p>
		<ul class="nav nav-tabs">
			<li class="active"><a href="#intro" data-toggle="tab">Introduction</a></li>
			<li><a href="#boneteam" data-toggle="tab">Bone Densitometry Team</a></li>
			<li><a href="#research" data-toggle="tab">Research</a></li>
			<li><a href="#teachtrain" data-toggle="tab">Teaching & Training</a></li>
			<li><a href="#bonebhc" data-toggle="tab">Bone Densitometry at BHC</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="intro"><p>
				<div class="span3 left-stick">
					<img src="/assets/images/spine.jpg">
				</div>
				We are proud to share with you the launch of the first and the latest DXA Scanner in Peshawar, Pakistan. It is the only of its kind in Pakistan with all the latest advancements in bone densitometry.<br>
				We are committed in  providing a high standard of service to you and the highest quality bone densitometry for patients by our Bone Densitometry Team.<br>
				Our top of the line Central DXA Scanner (LEXXOSS) with the latest FLASH (Cone) Beam Technology is the first in the new class of breakthrough DXA scanners with the shortest acquisition time and highest precision.<br>
				As you know central or axial skeleton DXA is the gold standard for diagnosis of osteoporosis.<br>
				The test assesses both global fracture risk and site specific fracture risk, identifies which patients can benefit from medications and is used for follow-up monitoring. On the other hand screening peripheral scanners can only be used to predict global fracture risk and cannot be used for monitoring osteoporosis treatment. First time in Pakistan, quality reporting on the printout results of DXA scan is provided by our Certified Clinical Densitometrist.<br>
				Our location is the most suitable one in the city for your patients with easy approach, ample car parking facility and patient transportation is available at the state of the art Deans Trade Centre, Peshawar.<br>
				<br>
				<b>The working hours are:</b> 10 AM till 6 PM except Sundays and Pakistan national holidays.<br>
				<br>
				Without your keen interest, input and cooperation, Bone Health Centre (BHC) will not be able to achieve its mission to enhance knowledge and quality of bone densitometry among healthcare professionals, provide continuing education courses for clinicians and technologists, increase patient awareness and access to bone densitometry, and support clinical and scientific advances in the field.<br>
				For more information on DXA scan and bone densitometry and related scientific literature, please contact Bone Health Centre, at:<br>
				<br>
				<b>TF 127 Deans Trade Centre, Peshawar.<br>
					Phone Number: 0092-91-5250067, 0092-3015943329<br>
					Email: <a href="mailto:bonehealth@gmail.com">bonehealth@gmail.com</a></b><br>

				</div>

				<div class="tab-pane" id="boneteam">
					<p>Director:<br>
						Dr. Khaqan Jahangir Janjua FRCS, CCD<br>
						<br>
						Senior Densitometry Technologist:<br>
						Dr. A.P Kausar MD <br>
						<br>
						Junior densitometry Technologist:<br>
						Mr. Faizan Ali Janjua<br>
						<br>
						Secretory:<br>
						Mr. Nasir ud Din Shah<br>
						<br>					 
						Clinical Research Assistant:<br>
						Mr. Wasif Ali Janjua<br>
						<br>
						Densitometry Fellow:<br>
						Dr. Fateh Ali Janjua,  MBBS<br>
					</p>
				</div>
				<div class="tab-pane" id="research">
					<p>
						<br/>-Densitometry Fellowship
						<br/>-BD Course
						<br/>-Training curriculum
					</p></div>
					<div class="tab-pane" id="teachtrain">
						<ul>
							<li><a href="/home/densitometryfellowship">Densitometry Fellowship</a></li>
							<li><a href="/home/bdcourse">BD Course</a></li>
							<li><a href="/home/trainingcurriculum">Training curriculum</a></li>
						</p>
					</div>
					<div class="tab-pane" id="bonebhc">
						<p>
							<b>PATIENT INFORMATIN on Bone Density Testing:
								<p>Overview</b>
									<br>Bone density testing is performed by a simple, painless procedure called DXA (dual energy x-ray absorptiometry). In this test, a weak x-ray beam is passed through the bone in the spine, hip or other skeletal site. The amount of x-ray that passes through is measured, and provides a very accurate determination of the calcium content of the bone. Bone density measurement can determine the presence and the severity of osteoporosis and can be used to predict the future risk of developing osteoporosis and fractures. 
									<br>Bone density results are usually expressed as 'T-scores,' which are derived from comparisons to values seen in young normal adults. Healthy young women have bone density T-score values between -2 and +2. Postmenopausal women with values between -1 and -2.5 are said to have low bone density. Low bone density values do not necessarily mean that bone loss has occurred. They may be the result of a lower-than-average peak bone density, perhaps due to genetic inheritance.
									<br>Values less than -2.5 are associated with an increased fracture risk, and at this level the diagnosis of osteoporosis is made. We can also compare a bone density result with the values we expect in other women of the same age. Because of the bone loss seen with growing older, women over age 75 often have osteoporosis (T-score less than -2.5) despite the fact that their values are within the range expected for their age. 
									<br>Bone density testing can also be used to monitor the effects of medical problems on bone health or of treatment for osteoporosis. The effectiveness of treatment is best monitored by measuring bone density when treatment begins and again after one or two years of therapy.<br>
									<br>
									<b>Things to know before your test</b><br>
									<br>
									<b>What is the DXA procedure like?</b><br>
									Bone densitometry using DXA involves lying on a padded surface with a pillow under your head. For the hip scan, legs are extended with the feet held in a positioning block. For the lower spine scan, legs are elevated on a cushion. Each scan takes five to ten minutes. There is no discomfort, and there are no injections or special dyes.<br>
									<br>
									<b>What should I do before the test?</b><br>
									<ul>
										<li>At BHC you will receive a medical history questionnaire prior to your exam. If there are any questions you are unable to answer, please leave them blank and the technologist will review the questions with you. The questionnaire is used to determine any risks you may have for developing osteoporosis.</li>
										<li>There is no need to disrobe if you wear clothes without buttons, zippers, or plastic closures. We suggest a warm-up suit or shorts or pants with an elastic waistband.</li>
										<li>You should not have this exam within one week after any kind of barium x-ray or bone scan studies.</li>
										<li>Do not take any calcium or vitamin supplements the day of the exam.</li>
										<li><b>Important: If your weight is over 265 lbs., please call us prior to your exam.</b></li>
									</ul>
									<br>
									<b>How and when will I get the results?</b><br>
									The results of the exam will be interpreted by a physician who specializes in osteoporosis. The DXA results along with the interpretation report will be delivered to you or your physician as desired at the time of history taking by our nurse practitioner.<br>
									<br>
									<b>Comparing Current to Previous Bone Density Tests </b>
									<br>
									One of the important uses of bone densitometry by DXA is to monitor changes in bone density over time. If you have had a previous study in our laboratory, the DXA machine will automatically make a comparison with your previous results by making a graph.<br>
									Comparing bone density results between different DXA bone density machines is a more difficult challenge. If you have had a previous hip or spine bone density test by DXA and would like us to attempt to compare your current test with previous results, you must provide us with copies of the following:<br>
									- Printouts of the actual hip and spine bone density results<br>
									- The physician's interpretation of those results
									<br>
									You can obtain copies of these results from your previous bone density laboratory. It would be most efficient if you bring that information with you at the time of your test. Alternatively, you can arrange for your previous bone density laboratory to mail those results directly to us as follows:<br>
									Bone Density Records<br>
									Bone Health Centre,<br>
									TF 127, Deans Trade Centre<br>
									Peshawar 25000, NWFP, Pakistan <br>
									<br>
									Bone density can be measured by other techniques including by CAT scan of the spine or with other types of bone density tests of the heel, finger or forearm. Comparisons cannot be made between DXA bone density values of the spine or hip and any of these other tests.<br>
									<br>
									<b>Who Can Benefit?</b>
									<br><b>Individuals at high risk for osteoporosis,</b> in particular postmenopausal women and elderly men and women, can benefit from prevention and early detection. These include:
									<ul>
										<li>women after menopause or those who have had their ovaries surgically removed</li>
										<li>individuals who are underweight for height</li>
										<li>individuals taking steroids (prednisone, cortisone, etc.) or anti-seizure medications (dilantin, etc.) for more than six months</li>
										<li>individuals with chronic kidney, liver, bowel or lung disease</li>
										<li>individuals with a history of glandular disorders (thyroid, pituitary, adrenal, parathyroid, ovary or testes)</li>
										<li>individuals with rheumatoid arthritis</li>
										<li>individuals who have had a fracture at age 50 or above </li>
										<li>individuals who have lost more than 1.5 inches of height</li>
										<li>long-term smokers or alcoholics</li>
										<li>individuals with a family history of osteoporotic fracture</li>
										<li>Individuals who have had a lifetime low calcium intake and sedentary lifestyle.</li>
										<li>all women older than 65 and all men oder than 70</li>
									</ul>
								</p>				


							</p>
						</div>
					</div>
				</p>
			</div>