<div class="container">
	<br/>
	<h1>Charity Projects</h1>
	<ul class="nav nav-tabs">
		<li><a href="#home" data-toggle="tab">Polio Disability Rehabilitation Program</a></li>
		<li><a href="#fridayclinic" data-toggle="tab">Friday Free Clinic</a></li>
		<li><a href="#fractureproject" data-toggle="tab">Fracture Project</a></li>
		<li><a href="#freecamps" data-toggle="tab">Free Orthopaedic Camps</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="home"><p>Content 1</p></div>
		
		<div class="tab-pane" id="fridayclinic"><p>POACC runs every Friday a freeOrthopaedic clinic, The Clinic has been functioning for last 5 years, Every Friday 50 patients are consulted free of cost by our staff.<br/>
			Pharmaceutical companies provide physian samples worth more than $500 US Dollars each week for these patients. Any required outdoor investigationsare also provided on discounted rates.</p></div>
			
			<div class="tab-pane" id="fractureproject"><p>POACC managment has successfully launched and run the project during last 6 months, this project is run on very low costs / price for the patient. The project is supported and sponserd by different donor agencies. Patient pays US $160/- only for the following services while the same services in public or private sector are more then US $500/- , For the same payment the following services are included<br/>

				<br/>1. Provision of the required implants like DHS/Plates/Nail/AMP/External Fixator.
				<br/>2. OT charges
				<br/>3. Anaesthesia charges 
				<br/>4. Surgury on Fee
				<br/>5. One day hospital, on the day of surgury
				<br/>6. Hepatits/HIV Screening
				<br/>7.Anaesthesia and surgury pharmacy items</p>
			</div>

			<div class="tab-pane" id="freecamps"><p>For patients physically disabled POACC regularly arranges every two months a free Orthopaedic camps for physically disabled at differnt districts within NWFP and neighbouring districts of Punjab.
				<br/>The camp is sponserd by POACC and Pharmaceutical companies, Data is collected for each patient regaurding 
				<br/>-Type of Disability 
				<br/>-Type of management if required 
				<br/>-Future expenses involved for full physical rehabilitation
				<br/>-Schedule for surgery, Physiotherapy, and any other orthrosis prosthesis required</p>
			</div>
		</div>
	</div>