<!-- <div class="container main-block">
	<h1>Contact Us</h1>
	<p>Our team of experienced staff members is here to help you and will coordinate all aspects of care while you are here, including scheduling physician visits and clarifying procedures. We pride ourselves in servicing a national and international clientele, paying extra attention to personal, cultural, and travel-related needs. 
		<br />
		If you have any questions, comments, or any concerns regarding our services and fees, Please don't hesitate to contact us at anytime.  Your email will be replied within promptly. Peshawar Orthopaedic & Cosmetology Clinic also offers free consultation on every Fridays so if You want to be consulted by us, Please contact us by email, phone number or normal mail.
		<br />
		By Mail:
		18/B, Khattak Medical Centre, 
		Dabgaree Gardens, Peshawar
		NWFP, Pakistan
		<br />
		By email:
		<br />
		traumaconsultant@yahoo.com
		<br />
		To see a map of our location, click here.
		<br />
		By Phone:
		0092-91-2571414
		<br />
		0092-91-5250067
		<br />
		By Fax:
		0092-91-2213192
		<br />
		The POACC is currently seeking participants for several research studies in osteoporosis. If you  are interested in participating in a clinical research program, please call , or email us.  
		<br />
		Feedback on broken links or other aspects of this site may be addressed on the our email address.
		<br />
		You can also enter your questions along with your name and email address in the following fields and we will contact you later.
	</p>
</div> -->
<div class="container main-block">
	to-do
</div>