<div class="container main-block">
	<div class="page-header">
		<h1>Contact Us</h1>
	</div>
	<div class="row-fluid">
		<div class="span9">
			<!-- <div class="well"> -->
			<%= form_tag("/contact/feedback",method: "post") do %>
			<div class="row">
				<!-- <div class="span6"> -->
				<label>First Name</label>
				<input type="text" class="" name="firstname" placeholder="Your First Name">
				<label>Last Name</label>
				<input type="text" class="" name="lastname" placeholder="Your Last Name">
				<label>Email Address</label>
				<input type="text" class="" name="emailaddress" placeholder="Your email address">
				<!-- </div> -->
				<!-- <div class="span3"> -->
				<label>Message</label>
				<textarea name="message" id="message" class="input-xlarge" rows="10"></textarea><br />
				<button type="submit" class="btn btn-primary">Send</button>
				<!-- </div> -->
			</div>
			<% end %>
			<!-- </div> -->
		</div>
		<div class="span3">
			<div class="row">
				<div class="well">
					<address>
						<strong><i class="icon icon-home"></i> Rawalpindi Practice</strong><br>
						Room 12<br>
						<a href="http://www.maryamhospital.com/find_a_doctor.php?srch_doc=khaqan+&srch_spec=Anesthesia&x=0&y=0&docsearch=on&srch_doc_what=name">Maryam Memorial Hospital<br>
							Westridge Peshawar Road<br>
							RawalPindi<br>
						</address>
					</div>
				</div>
				<div class="row">
					<div class="well">
						<address>
							<strong><i class="icon icon-home"></i> Specialist Clinics</strong><br>
							Khayal Plaza<br>
							Islamabad Diagnostic Centre, F8 Markaz<br>
							Islambabd<br>
						</address>
					</div>
				</div>
				<div class="row">
					<div class="well">
						<address>
							<strong><i class="icon icon-home"></i> Attock Practice</strong><br>
							Street 1<br>
							Dar-us-Salam Colnoy<br>
							Kamra Road, Near Shinwari Hotel<br>
							Attock<br>
						</address>
					</div>
				</div>
				<div class="row">
					<div class="well">
						<address>
							<strong><i class="icon icon-home"></i> Peshawar Deans Practice</strong><br>
							3rd Floor<br>
							127 Deans Trade Center<br>
							Peshawar Cantt.<br>
							Peshawar<br>
						</address>
					</div>
				</div>
				<div class="row">
					<div class="well">
						<address>
							<strong><i class="icon icon-home"></i> Peshawar Hayatabad Practice</strong><br>
							House no. 25, Street 2, Sector N3<br>
							Phase 4<br>
							Hayatabad<br>
							Peshawar<br>
						</address>
					</div>
				</div>
			</div>
		</div>
	</div>