<div class="container main-block">
	<div class="page-header">
		<h1>Contact Us</h1>
	</div>
	<div class="row-fluid">
		<div class="span9">
			<div class="row">
				<span class="suc"/>
			</div>
			<form class="well">
				<div class="row">
					<div class="span3">
						<label>First Name</label>
						<input type="text" class="span3" name="firstname" placeholder="Your First Name">
						<label>Last Name</label>
						<input type="text" class="span3" name="lastname" placeholder="Your Last Name">
						<label>Email Address</label>
					</div>
					<div class="span5">
						<label>Message</label>
						<textarea name="message" id="message" class="input-xlarge span5" rows="10"></textarea>
					</div>
					<button type="submit" class="btn btn-primary pull-right">Send</button>
				</div>
			</form>
		</div>
		<div class="span3">
			<%= ad_unit(:square, "pub-6817444828958491") %>
		</div>
	</div>
</div>