<div class="container main-block">
	<h1>Correcting Toes</h1>
	<p>
		There are multiple causes and types of deformations in the anterior part of the feet like the <b>transverse foot spreading</b>, in other words, <b>transverse flatfoot, under-riding or overriding of toes, crowding of toes, deformations as a result of poliomyelitis, cerebral palsy, post trauma, rheumatoid arthritis etc.</b><br>
		<br>
		General surgical operations could only eliminate the consequence of such diseases - just one of the components of deformation of anterior feet part (i.e. toes deformation, "cones", corns, etc.). <br>
		Therefore, the results of such operations, as a rule, used to be often regarded as unsatisfactory.<br>
		<br>
		<b>We offer,</b> innovative surgeries and techniques for correction of deformations in the anterior part of foot and help to eliminate both the consequence and the main causes of the disease.<br>
		<br>
		With our team effort, patients are able to walk right after the operation. Total time of the treatment including medical assessment is two weeks.<br>
	</p>
</div>