<div class="container main-block">
	<h1>Cosmotology</h1>
	<p>
		Orthopaedic Cosmetology is the area of medicine and modren treatment technologies for improving the physical deformities and external aesthetic look of the human body. Its a new branch of aesthetic surgery. It is used to prevent and correct deformities as a result of limb trauma and orthopaedic pathologies. It involves both plastic and orthopaedic reconstructive surgery techniques. Besides improving the external appearance and limb function, it has the significant prophylactic benifit of preventing secondary problems due to different deformities e.g., someone developing knee and hip arthritis as a result of bowed legs etc.
	</p>
</div>