<div class="container">
    <h1>Frequently Asked Questions</h1>
    <br/><b>Q:</b> How many patients have received the cosmetic assistance at your center? 
    <br/><b>A:</b> Related to leg shape correction, the total number of the patient has exceeded 260 people. About 10 patients have received height increase treatment due to their cosmetic conditions. Talipes correction has been given to over 600 patients.<br/> 

    <br/><b>Q:</b> What's the age of your patients that have received leg shape correction or height increase treatment due to the cosmetic conditions? 
    <br/><b>A:</b> Surgical intervention according to our developed technologies has been given to patients of the ages between 17 and 54 years old. <br/>

    <br/><b>Q:</b> What is your patients' geography? 
    <br/><b>A:</b> Our patients include citizens of the  Islamic Republic Of Pakistan and the neighboring countries. <br/>

    <br/><b>Q:</b> How much can one increase their height for? 
    <br/><b>A:</b> Concerning increasing one's height due to the cosmetic conditions, the optimum increment value (taking into account the average proportions of human body) is 5-7 cm (2-3 in). <br/>

    <br/><b>Q:</b> What are the possible complications? 
    <br/><b>A:</b> Complications occur in less than 0.4% of all cases. Those include soft tissue inflammation and slow bone union. Possessing great experience in curing miscellaneous consequences of bone and joint traumas, we have succeeded in cutting out the complications completely. That allows us to have 100% success in the cosmetic surgical procedures. <br/>

    <br/><b>Q:</b> Do any scars remain after the leg shape correction procedure? 
    <br/><b>A:</b> Two scars of 1-1.5 cm (1/3-2/3 in.) remain after the leg shape correction procedure on the knee's reverse side. As a rule, in some time these scars turn invisible. <br/>

    <br/><b>Q:</b> What remote consequences of such procedures may occur? 
    <br/><b>A:</b> Our approach to the height increase issue is well balanced. The increase, taking into account the average body proportions do not lead to the remote negative consequences. The growing reclaimed bone is the human's own tissue; therefore, no tissue incompatibility immune conflict occurs. During leg shape correction, the change in the lower extremities axis location leads to better-balanced loading of the knee joint's load-bearing faces. Thus, in this case, the cosmetic leg shape correction also appears to be preventive, since improving of the knee joint's operation environment prevents the early development of deforming arthrosis. <br/>

    <br/><b>Q:</b> What are contraindications to the height increase and leg shape correction surgical procedures? 
    <br/><b>A:</b> Those include the following conditions: active forms of tuberculosis, acute conditions of individual chronic purulent diseases, AIDS, chronic hepatitis, syphilis, mental disease, chemical addiction, individual systemic diseases. <br/>

    <br/><b>Q:</b> Does your clinic perform leg shape correction with the gel fillers? 
    <br/><b>A:</b> No. Leg shape correction with gel fillers may cause complications, such as: inflammation at the injection places, scar tissue development in the hypodermic-adipose cellular tissue, gradual resolution of the filler (instability of the results). Besides that, such procedures do not prevent the development of deforming arthrosis.<br/>

    <br/><b>Q:</b> Why is surgical procedure required to increase one's height? Can one take the hormone-based drugs to increase one's height? 
    <br/><b>A:</b> Using hormone-based drugs for increasing an adult person's height is strongly discouraged. Hormone-based drugs cannot affect just the person's height alone; they also affect the person's other organs and systems (e.g., facial bones, hand bones, etc.) Elevated concentration of hormones in one's body may lead to a number of health conditions, such as acromegaly, gigantism, etc. Such medications are normally prescribed only for treating children due to medical conditions. <br/>

    <br/>Do you have a question that has not yet been answered here? 
    <br/>E-mail it to: <a href="mailto:yeralp@superonline.com"><u>traumaconsultant@yahoo.com</u></a>, and you will surely receive a qualified answer.
</div>