<div class="container main-block">
	<br/>
	<h1>Fellowships</h1>
	<p><b>Fellowship in Limb Lengthening and Reconstruction
	at the <br/>  
	Peshawar Orthopaedic and Cosmetology Clinic</b><br/>
	<br>
	<b>Number of positions:</b> One<br>
	<br>
	<b>Term:</b> One year, begins in January<br>
	<br>
	<b>Requirement:</b> Completion of orthopedic surgery residency program.<br>
	<br>
	<b>Director of Fellowship:</b> Khaqan Jahangir Janjua FRCS (Ed), MMed Sci<br>
	<br>
	<b>Aim of Fellowship:</b> To become proficient in the diagnosis, management, decision making, and surgical techniques associated with limb lengthening and reconstructive surgery for orthopedic disabilities and disfigurement.<br>
	<br>
	<b>Description of fellowship:</b> The fellow will gain both clinical and research experience with limb lengthening and reconstructive surgery. The Ilizarov method is extensively used in addition to more conventional approaches. This will include preoperative, surgical, and postoperative care. There will also be opportunities for basic and clinical research.<br>
	<ul>
	<li><b>Adult and pediatric</b> limb lengthening and deformity correction</li>
	<li><b>Lower extremity reconstruction:</b> hip, femur, knee, tibia, ankle and foot</li>
	<li><b>Post-traumatic reconstruction:</b> malunions, nonunions (septic and aseptic), bone defects</li>
	<li><b>Congenital conditions:</b> congenital short femur, hemi atrophy, dwarfism, short stature</li>
	<li><b>Developmental conditions:</b> growth disturbance from trauma or infection</li>
	<li><b>Limb lengthening</b> using the Ilizarov method</li>
	<li>Deformity analysis and correction</li>
	<li><b>Knee reconstruction:</b> osteotomy for realignment, arthrodesis</li>
	<li><b>Foot and ankle reconstruction:</b> complex ankle fusions, deformity correction.</li>
	<li><b>Upper extremity:</b> humeral lengthening, forearm and wrist deformity correction</li>
	<li><b>Techniques</b> used are the Ilizarov method, circular external fixation, monolateral external fixation, intramedullary nailing, plate osteosynthesis</li>
	<li>Postoperative care and rehabilitation</li>
	<li><b>Complication management:</b> pin problems, soft-tissue releases, nerve decompression, residual deformity management</li>
	<li><b>Participation in research project</b> with objective of abstract presentation at the national and international orthopedic meetings and peer reviewed publication.</li>
</ul>
	
	<br>
	<b>Required documents:</b> Curriculum vitae with a recent photograph List of publications<br>
	<br>
	<center><b>Correspondence</b><br>
	<br>Dr. Khaqan Jahangir Janjua<br> 
		Pakistan Orthopedic and Cosmetology Center, #25, Street-2, N-3, Phase-IV, Hayatabad, Peshawar, KPK 25100  PAKISTAN<br>
		Phone/Fax: 0092-915823457 <br>
		<b>E-mail:</b> <a href="mailto:traumaconsultant@yahoo.com">traumaconsultant@yahoo.com</a><br>
		<a href="mailto:info@poacc.com">info@poacc.com</a>
	</center>
	</p>
</div>