<div class="container main-block">
	<br/>
	<h1>Fellowships</h1>
	<p><b>Fellowship in Limb Lengthening and Reconstruction
	at the <br/>  
	Peshawar Orthopaedic and Cosmetology Clinic</b><br/>
	<b><br/>Number of positions:</b> One<br/>

	<br/><b>Term:</b> One year, beginning in January<br/>

	<br/><b>Requirement:</b> Completion of orthopedic surgery residency program.<br/>

	<br/><b>Director of Fellowship:</b> Khaqan Jahangir Janjua FRCS (Ed), MMed Sci<br/>

	<br/><b>Aim of Fellowship:</b> To become proficient in the diagnosis, management, decision making, and surgical techniques associated with limb lengthening and reconstruction.<br/>

	<br/><b>Description of fellowship:</b> The fellow will gain both clinical and research experience with limb lengthening and reconstruction. The Ilizarov method is extensively used in addition to more conventional approaches. This will include preoperative, surgical, and postoperative care. There will also be opportunities for basic and clinical research.<br/>

	<ul>
	<li>Adult and pediatric limb lengthening and deformity correction</li>
	<li>Lower extremity reconstruction: hip, femur, knee, tibia, ankle and foot</li>
	<li>Post-traumatic reconstruction: malunions, nonunions (septic and aseptic), bone defects</li>
	<li>Congenital conditions: congenital short femur, hemiatrophy, dwarfism, short stature</li>
	<li>Developmental conditions: growth disturbance from trauma or infection</li>
	<li>Limb lengthening using the Ilizarov method</li>
	<li>Deformity analysis and correction</li>
	<li>Knee reconstruction: osteotomy for realignment, arthrodesis</li>
	<li>Foot and ankle reconstruction: complex ankle fusions, deformity correction.</li>
	<li>Upper extremity: humeral lengthening, forearm and wrist deformity correction</li>
	<li>Techniques used are the Ilizarov method, circular external fixation,  monolateral external fixation, intramedullary nailing,  plate osteosynthesis</li>
	<li>Postoperative care and rehabilitation</li>
	<li>Complication management: pin problems, soft-tissue releases, nerve decompression, residual deformity management</li>
	<li>Participation in research project with objective of abstract presentation at the national and international Orthopaedic meetings and peer reviewed publication.</li>
</ul><br/>

	<br/><b>Required documents:</b> Curriculum vitae with a recent photograph
	List of publications<br/>

	<br/><b>Correspondence</b><br/>

	<br/>Dr. Khaqan Jahangir Janjua
	<br/>Address: Peshawar Orthopaedic and Cosmetology Clinic, 18/B, Khattak Medical Center, Dabgaree Gardens, Peshawar - PAKISTAN
	<br/>Phone: 0092 91 2571414
	<br/>E-mail: <a href="mailto:yeralp@superonline.com"><u>traumaconsultant@yahoo.com</u></a>
	</p>
</div>