<div class="container main-block">
	<h1>Height Increase</h1>
	<p>
		We offer you unique possibility to increase your height.
		We use the original, unique Ilizarove technology, which is based on the natural (physiological) ability of bones to grow. This growth is stimulated by the operation and supported by the unique Ilizarove devices. This is the most perfect and the safest legs and arms lengthening method.
		There are three periods of the limb lengthening procedure: First is the operation, during which the osteotomy and the reliable fixation with special orthopaedic apparatus are performed.
		<p>The <b>second</b> is the stretching period. Ilizarove technology allows making 1 mm stretching a day.

		<p>The <b>third</b> is the consolidation period. It is continued maximum as the double lengthening time. At the end of the consolidation period the device is removed from patients’ legs.

 	 	<p>The procedures are performed separately, consecutively for both legs.
 	 	<br/>The maximum and safe increasing is 7-9 cm.
 	 	<br/>During the treatment, the patients are active, the day after operation all of them find it easy to move about without any help. The function of legs is saved because patients can do movements at all period of the procedure.
 	 	<br/>To perform the procedure patients must stay all treatment time at the clinic.

 	 	<p>The height increasing procedure is conducted as follows: a surgery of a shin is done under the general/spinal/epidural anaesthesia, where during the process an apparatus of external fixation is applied.
		<br/>Average time for such surgical intervention is about 40-50 minutes. The patient is ambulant on the following day but usually uses the crutches.
		<br/>On the fifth day after the surgery elongation is started by means of dosage adjustment of nuts in the fixation apparatus.
		<br/>Mean extension rate is 1 mm per 24 hours. The individual proportions of the patient are taken into account to determine optimum length for height correction. In the process of elongation a new bone tissue called "regenerate" is formed.
		<br/>Removal of the apparatus from the operated extremity can be done after a certain period, which is required for thickening of the bone regenerate. Surgical operations on lower extremities are performed separately and consecutively with a 3-4month interval.
		<br/>Height increase up to 6-7cm takes 10months on average. During the treatment the patients are active, they can walk independently with crutches or even without them. Gained surgical experience allows us to successfully resolve the problem of height increase.
		<br/>The maximum possible height increasing is 7-9 cm. The age of patients may be from 16 to 60 years.

		<p>To recieve more information, you can send question by e-mail to: <a href="mailto:yeralp@superonline.com"><u>traumaconsultant@yahoo.com</u></a> and you will surely receive a qualified answer. 

	</p>
</div>