<div class="container main-block">
	<br/>
	<h1>Job Opportunities</h1>
	<p>
		Thank you for your interest in our employment opportunities.<br/>

		<br/>POACC has incredible opportunities waiting for career-oriented individuals, in an environment driven by inspiration and high expectations.<br/>

		<br/>With the ongoing expansion of the institution and to cope with the pressing demand of the increasing number of patients at POACC, qualified professionals are required in various sections.<br/>

		<br/>It offers a fast-paced and challenging environment, where commitment to the patient congregates all areas and divisions to provide a positive, supportive and inviting environment. At POACC, everyone plays a critical role in its ongoing success. And most of all, it's a proud group of people, dedicated to each and every person who walks through its doors.<br/>

		<br/>We are looking for qualified professionals who are prepared to work in a team-based environment, who want to be part of our team, and play a role in bringing about a change in the healthcare sector of this region. We strivel for a culture of innovation, a clear sense of direction and plan to improve services at every level. Everyone at POACC is committed to the development of staff, as individuals and in teams.<br/>

		<br/>If you are energetic, passionate about delivering excellent care and wish to develop your career, we would be pleased to hear from you regarding the following career opportunities:<br/>

		<ul>
			<li>Senior Densitometrist Technologist</li>
			<li>Junior Densitometrist Technologist / Densitometry Fellow</li>
			<li>Orthopaedic Assistant</li>
			<li>Research Fellow</li>
		</ul>

		<br/>
		<b>Required Qualification:<br/>

		<br/>Senior Densitometrist Technologist</b>
		
		<ul><br/>
		<li>BSc / MSc Health related subject</li>
		<li>Nursing / Radiography qualified technician</li>
		<li>M.D / MBBS</li>
		
		<i><b>Prefered additional qualifications</b></i>
		
		<li>CCD (Certified Clinical Densitometrist)</li>	
		<li>BDCT (Bone Densitometry Certified Technologist)</li>
		</ul>

		<br/><b>Orthopaedic Assistant</b>

		<ul><br/>
		<li>FSc / HSSC / BSc</li>
		<li>Radiography Technician Course</li>
		<li>Despenser / Medical Technican Course</li>
		<li>Experiance in Radiography and Health Facilty Management</li>
		</br>
		</ul>

	</br><b>All the above posts are permanent and full-time.</b></br>

	<br/>Doctors and Technicians / Technologist  based in Peshawar are encouraged to apply. Lucrative packages are on offer, individual agreements can be worked out depending on the qualifications and work experience.<br/>

	</br>We are an equal opportunity employer, dedicated to a policy of non-discrimination on any basis including race, creed, color, age, gender, religion or national origin.<br/>

	<br/>
	<b>Join the team of outstanding professionals at the Peshawar Orthopaedic and Cosmetology Center, Pakistan.<br/>
	</b>
	<br/>Right now is a good time to join POACC. We are growing, come grow with us! <br/>

	<br/><b>
	How to apply:
	<br/></b>

	<br/>Include your name, mailing address, e-mail address, position you may be interested in, a brief outline of your work experience and current licensing. Kindly provide us with names and contact details of references you may have worked with.<br/>

	<br/>Feel free to contact us if you require additional information.<br/>

	<br/>Candidates who may be interested in any other post are also encouraged to apply, and would be considered whenever a vacancy arises.<br/>

	<br/>E-mail your resume to: <a href="mailto:yeralp@superonline.com"><u>traumaconsultant@yahoo.com<u/></a>
	</p>
</div>