
<div class="container">
	<h1>POACC STAFF</h1>
	<p>
		<b>Chief Head and Founder:</b> Maj Dr.Khaqan Jahangir Janjua
		<br />
		<b>Consultants:</b> 1.Maj Dr.Khaqan Jahangir Janjua 2.Dr. M Tariq Janjua MD 3.Mrs Jahanara Qamar (Consultant Dietician) 4.Mrs. Wendy Loomans.PhD
		<br />
		<b>Medical Officers:</b> 1.Dr. Roshan Ara (MBBS) 2.Dr Zubaida Rani (DGO) 3.Dr Khalida Salim (DGO) 4.Dr. Naeem Awan (MBBS, FICS) 5.Dr Burhan Ahmad (MBBS, DA) .
		<br />
		<b>House Officer:</b> Dr. Pervaiz Ahmed Kausar MD
		<br />
		<b>Service Chief:</b> Mr. Mian Zahid Qaum
		<br />
		<b>Practice Manager:</b> Mr. Ghazanfar Ali Shah
		<br />
		<b>Secretary:</b> Miss Sobia
		<br />
		<b>Trainees:</b> 1.Dr. Abdur Jabar MD 2.Miss Ishrat Aman
		<br />
		<b>Medical IT In charge:</b> Mr. Fateh Ali
		<br />
		<b>Service Marketing Manager:</b> Mr. Ghazanfar Ali Shah
		<br />
		<b>Pharmacy In charge:</b> Mr. Amjad
		<br />
		<b>Physiotherapy In charge:</b> Mr. Fida Bungash
		<br />
		<b>Orthopeadic Workshop In charge:</b> Mr Kishwar Zaib
		<br />
		<b>Weight management Clinic in Charge:</b> Dr. Jahanara Qamar</p>
	</div>