<div class="container main-block">
	<br/><h1>Trauma</h1>
	<p>Pakistan Orthopedic and Cosmetology Centre takes care for a variety of injured patients.<br>
	Such patients are provided immediate resuscitation and stabilization, and definitive care.<br>
	We strive to give excellent trauma care to injured patients and make every effort to minimize the incidence of death and disabilities.<br>
	The multi-disciplinary approach follows the patient throughout the continuum of care from pre-hospital to rehabilitation.</p>
</div>