<div class="container main-block">
	<br/><h1>Trauma</h1>
	<p>Peshawar Orthopaedic and Cosmetology Centre at Dabgari Garden, Peshawar takes care for a variety of injured patients. These patients are provided immediate resuscitation and stabilization, and definitive acute care. We strive to give excellent trauma care to these patients and make every effort to decrease death and disabilities.

	<br/>The multi-disciplinary approach follows the patient throughout the continuum of care from pre-hospital to rehabilitation. </p>
</div>