<h1>Wound Care Clinic</h1>
<p>Wound care clinic is run by our wound care team. All surgical clean wounds, Chronic slow and non healing wounds and infected wounds are examined and their management plan is made.
Location:
               #25/2, N-3, Phase 4, 
               Hayatabad,
               Peshawar
Timing: 8AM - 12PM
Days: Monday and Thursday</p>
