<div class="container main-block">
	<div class="page-header">
		<h1>Our Practices</h1>
	</div>
	<div class="row">
		<% @practices.each do |p| %>
		<div class="span3 team-member">
			<h2><%= p.name %></h2>
			<h4><%= p.location %></h4>
			<p><%= p.description %></p>
		</div>
		<% end %>
	</div>
		<div class="row">
		<%= gmaps4rails(@json) %>
	</div>
</div>