<div class="container main-block">
	<div class="page-header">
		<h1>Our Practices</h1>
	</div>
	<div class="row">
		<% @practices.each do |p| %>
		<div class="span3 team-member">
			<div class="well">
				<address>
					<strong><i class="icon  icon-map-marker icon-large"></i> <%= p.name %></strong><br>
					<%= p.location %><br>
					<%= p.description %><br>
				</address>
			</div>
		</div>
		<% end %>
	</div>
	<div class="row">
		<%#= gmaps4rails(@json) %>
	</div>
</div>