<div class="container main-block">
	<div class="page-header">
		<h1>OUR PRACTICES & BRANCHES</h1>
	</div>
	<div class="span3">
			<div class="row">
				<div class="well">
					<address>
						<strong><i class="icon icon-home"></i> Rawalpindi Practice</strong><br>
						Pakistan Orthopedic Cosmetology Center<br>
						Nisar Hospital,<br>
						Peshawar Road, Westridge<br>
						Rawalpindi, Punjab 46060<br>
						Pakistan
					</address>
				</div>
			</div>
			<!-- <div class="row">
				<div class="well">
					<address>
						<strong><i class="icon icon-home"></i> Islamabad Practice </strong><br>
						Specialist Clinics ,Khayal Plaza<br>
						Islamabad Diagnostic Centre, F8 Markaz<br>
						Islamabad<br>
						Pakistan<br>
						Postal Code - 44000
					</address>
				</div>
			</div> -->
			<div class="row">
				<div class="well">
					<address>
						<strong><i class="icon icon-home"></i> Attock Practice</strong><br>
						Pakistan Orthopedic Cosmetology Center<br>
						Street No 1, Kamrah Road, Dar ul Salam Colony<br>
						Attock, Punjab 43600<br>
						Pakistan						
					</address>
				</div>
			</div>
			<div class="row">
				<div class="well">
					<address>
						<strong><i class="icon icon-home"></i> Peshawar Practice</strong><br>
						1. Pakistan Orthopedic Cosmetology Center<br>
						#25, Street 2, N-3, Phase-IV, Hayatabad<br>
						Peshawar, KPK 25100<br>
						Pakistan<br>
						<br>
						2. Bone Health Center<br>
						TF127, Deans Trade Center<br>
						Peshawar cantt<br>
						Peshawar, KPK 25000
					</address>
				</div>
			</div>
		</div>
	<!-- <div class="row">
		<% @practices.each do |p| %>
		<div class="span3 team-member">
			<div class="well">
				<address>
					<strong><i class="icon  icon-map-marker icon-large"></i> <%= p.name %></strong><br>
					<%= p.location %><br>
					<%= p.description %><br>
				</address>
			</div>
		</div>
		<% end %>
	</div> -->
	<div class="row">
		<%#= gmaps4rails(@json) %>
	</div>
</div>