<strong>A patient is requesting an appointment</strong><br />
<p>Patient Name: <%= @appointment.patient.Name %>
<p>Patient ID: <%= @appointment.patient.reg_no %>
<p>Date: <%= @appointment.day %> </p></br/>
<p>Time: <%= @appointment.requested_time %> </p><br />
<br />
<strong>Please Approve the appointment from your admin panel located <a href="http://poacc.com/admin">here</a>.</strong>