<strong>Your appointment request has been approved</strong><br />
<p>Patient ID: <%= @appointment.patient.reg_no %>
<p>Date: <%= @appointment.day %> </p></br/>
<p>Time: <%= @appointment.requested_time %> </p><br />
<br />
<i>Please show up at least 15 mins before your appointment time</i>