<div class="container main-block">
	<div class="alert alert-success">
		<strong>Your feedback has been sent!</strong>
		Thank you for your feedback, you will hear from someone at POACC soon.
	</div>
</div>