<div class="container">
	<div class="alert alert-success">
		<strong>Appointment Requested Successfully</strong>
		<p>Your appoinment request has been successfully forwarded. We will contact you shortly.</p>
	</div>
</div>