<div class="container">
	<div class="container">
		<div class="alert alert-error">
			<strong>Appointment Request Failed</strong>
			The registration number you entered is invalid.
		</div>
	</div>
</div>