<% content_for :title do %>
  Photo Galleries | <%= Spud::Core.site_name %>
<% end %>

<% content_for :head do %>
  
<% end %>

<h2>Photo Galleries</h2>

<div id="spud_photo_galleries">
  <% @photo_galleries.each do |gallery| %>
    <div class="spud_photo_gallery_thumbnail">
      <h3><%= link_to gallery.title, (gallery.albums.length == 1 ? photo_gallery_photo_album_path(gallery.url_name, gallery.albums.first.url_name) : photo_gallery_photo_albums_path(gallery.url_name)) %></h3>
      <%= image_tag gallery.top_photo_url(:medium), :title => gallery.title %>
    </div>
  <% end %>
</div>